@import "~bootstrap/scss/bootstrap"

body
    height: 100vh
    background-color: #F5F5F5

#container
    height: 90%
    padding: 2vh 2vw

.card-picture img
    max-width: 150px
    max-height: 150px

h4 a .badge
    border: 1px solid gray