form {
    margin: auto;
    display: block;
    text-align: center;
    border: 1px solid darkgrey;
    border-radius: 7px;
    padding: 15px 7px;

}

form label {
    display: block;
}

.form_checkbox div{
    display: inline-block;
}

.form_checkbox label, .form_checkbox input {
    display: inline-block;
}

.form_checkbox input {
    margin-left: 10px;
}

form input:not([type="checkbox"]), .form-button {
    margin-top: 3px;
    width: 100%;
}
form input:not([type="submit"]) {
    border-radius: 3px;
    border: 1px solid darkgray;
}

form input[type="checkbox"] {
    display: inline;
}

form input[type="submit"] {
    margin-top: 25px;
}

label + ul li {
    padding-left: 0;
    margin-left: 0;
    background: lightcoral;
    border: 2px solid red;
}

.form-group label, .form-group input, .form-group select {
    display: inline-block;
    margin-bottom: 15px;
}

.form-group label {
    float: left;
    width: 19%;
}

.form-group input, .form-group select {
    max-width: 80%;
}
