form {
    margin: auto;
    display: block;
    text-align: center;
    border: 1px solid darkgrey;
    border-radius: 7px;
    width: 500px;
    padding: 15px 7px;

}

form label {
    display: block;
}

.form_checkbox label, .form_checkbox input {
    display: inline-block;
}

.form_checkbox input {
    margin-left: 10px;
}

form input:not([type="checkbox"]) {
    margin-top: 3px;
    width: 450px;
}
form input:not([type="submit"]) {
    border-radius: 3px;
    border: 1px solid darkgray;
}

form input[type="checkbox"] {
    display: inline;
}

form input[type="submit"] {
    margin-top: 25px;
}

label + ul li {
    padding-left: 0;
    margin-left: 0;
    background: lightcoral;
    border: 2px solid red;
}
