{% extends 'base.html.twig' %}

{% block body %}
    <div class="col-xs-12 col-md-8 col-md-offset-2 col-lg-offset-3 col-lg-6">
        {% block fos_user_content %}
        {% endblock fos_user_content %}
    </div>
{% endblock %}
