<div class="dropdown-menu" aria-labelledby="navbarDropdownTags">
    {% for tag in tags %}
        <a class="dropdown-item" href="{{ path('tag_pictures', {'id':tag.id}) }}">{{ tag.name }}</a>
    {% endfor %}
</div>
