{% extends 'base.html.twig' %}

{% block body %}
    <h1>Tag list</h1>

    {% if is_granted("ROLE_ADMIN") %}
    <div>
        <a class="btn btn-bg btn-primary" href="{{ path('tag_new') }}">Create a new tag</a>
    </div>
    {% endif %}

    {% for tag in tags %}
        <h4 class="d-inline">
            <a href="#">
                <span class="badge rounded-pill bg-light text-dark">{{ tag.name }}</span>
            </a>
        </h4>
    {% else %}
        <span>No tags available</span>
    {% endfor %}
{% endblock %}

{% block breadcrumb %}
    <div class="breadcrumb">
        <a href="{{ path('homepage') }}">{% trans %}routes.home{% endtrans %}</a>
        &nbsp;&gt;&nbsp;
        {% trans %}tags.name{% endtrans %}
    </div>
{% endblock %}
