{% extends 'base.html.twig' %}

{% block body %}
    <h1>Tag list</h1>

    <div>
        <button class="btn btn-bg btn-primary" href="{{ path('pack_new') }}">Create a new tag</button>
    </div>

    <table class="table-bordered">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
            {% for tag in tags %}
                <tr>
                    <td>{{ tag.id }}</td>
                    <td>{{ tag.name }}</td>
                    <td>
                        <ul class="no-bullets">
                            <li>
                                <a href="{{ path('tag_edit', { 'id': tag.id }) }}"><i class="glyphicon glyphicon-pencil"></i>Edit</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
